<section id="container">
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-sm-12">
					<section class="panel">

					  	<header class="panel-heading"></header>

						<div class="panel-body">
							<div class="adv-table">
								<table  class="display table table-bordered table-striped">
									<thead>
										<tr>
											<th>序号</th>
											<th>订单号</th>
											<th>工单号</th>
											<th>代工厂</th>
											<th>事件</th>
											<th>操作人</th>
											<th>更新时间</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in historyList">
											<td title="{{$index + 1}}">{{$index + 1}}</td>
											<td title="{{item.orderid}}">{{item.orderid}}</td>
											<td title="{{item.workform}}">{{item.workform}}</td>
											<td title="{{item.oemfactoryname}}">{{item.oemfactoryname}}</td>
											<td title="{{item.event}}"><select class="simulate" ng-model="item.event" ng-options="a.key as a.value for a in commonList.actionInfo" disabled></select></td>
											<td title="{{item.username}}">{{item.username}}</td>
											<td title="{{item.recordtime}}">{{item.recordtime}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<!-- 翻页 -->
							<div class="add_store" id="pager" style="display:none;">
								<div class="pull-right">
									<button class="btn btn-info" id="beforePage" ng-click="beforePage()">
										<i class="fa fa-arrow-left"></i>
									</button>
									<span id="currentPage"></span>/<span id="totalPage"></span>
									<button class="btn  btn-info" id="afterPage" ng-click="afterPage()">
										<i class="fa fa-arrow-right"></i>
									</button>
									<input class="form-control" style="display:inline-block; width:60px;" type="number" id="pageIndex" />
									<button class="btn btn-info" id="jumpBtn" ng-click="jumpPage()">跳转</button>
								</div>
							</div>
						</div>
						
					</section>
				</div>
			</div>
		  </section>
	</section>
</section>